@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/cerberus';

@variant dark (&:where(.dark, .dark *));

@utility no-scrollbar {
	@apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@layer theme {
	:root {
		--header-height: 60px;
		--navbar-height: 60px;
	}
}

@layer base {
	[data-scope='steps'] {
		&[data-part='indicator'] {
			&[data-complete] {
				background-color: var(--color-tertiary-500);
				color: var(--color-tertiary-contrast-500);
			}
			&[data-current] {
				border-width: 1px;
				border-color: var(--color-tertiary-500);
			}
		}
		&[data-part='separator'] {
			&[data-complete] {
				border-color: var(--color-tertiary-500);
			}
		}
		&[data-part='next-trigger'] {
			&:disabled {
				display: none;
			}
		}
		&[data-part='prev-trigger'] {
			&:disabled {
				display: none;
			}
		}
	}
}

[data-theme='cerberus'] {
	--body-background-color: #ffffff;
}

.preset-bordered-card {
	border: 1px solid var(--color-surface-200);
	border-radius: var(--radius-xl);
}

/* Icons adjustment */
.lucide {
	stroke-width: 1.5px;
}

/* Bug fix */
.select,
.input,
.textarea,
.ig-input,
.ig-select {
	background-color: var(--color-surface-50-950);
	color: var(--color-surface-950-50);
}
