@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/cerberus';

@variant dark (&:where(.dark, .dark *));

@utility no-scrollbar {
	@apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@layer theme {
	:root {
		--header-height: 60px;
		--navbar-height: 60px;
	}
}

.preset-bordered-card {
	border: 1px solid var(--color-surface-200);
	border-radius: var(--radius-xl);
}

/* Icons adjustment */
.lucide {
	stroke-width: 1.5px;
}

/* Bug fix */
.select,
.input,
.textarea,
.ig-input,
.ig-select {
	background-color: var(--color-surface-50-950);
	color: var(--color-surface-950-50);
}
